# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/build/
/.vscode/

#Directories and Eclipse Stuff
.settings
Debug
.cproject
.project
.dbc
*.bak
